/* ### CSS VARIABLES ### */

:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  --ff-montserrat: "Montserrat", sans-serif;
  --ff-fraunces: "Fraunces", serif;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

/* ### UTILITIES ### */

.column {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

/* ### TYPOGRAPHY ### */

body {
  font-family: var(--ff-montserrat);
  font-weight: 500;
  font-size: clamp(0.9rem, 1vw + 0.8rem, 1rem);
}

.card {
  color: var(--grey);
}

h1 {
  color: var(--black);
  line-height: 1.1em;
}

h1,
.current-price {
  font-family: var(--ff-fraunces);
  font-weight: 700;
  font-size: clamp(1.9rem, 1vw + 2rem, 2.3rem);
}

.card-subtitle {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: clamp(0.8rem, 1vw + 0.8rem, 0.9rem);
}

.card-paragraph {
  line-height: 1.5rem;
}

.current-price {
  color: var(--green-500);
}

.card-subtitle,
.old-price {
  font-weight: 700;
}

.card-btn {
  color: var(--white);
  font-size: clamp(0.9rem, 1vw + 0.8rem, 1rem);
  font-weight: 700;
  background-color: var(--green-500);
  cursor: pointer;
}

.card-btn:hover {
  background-color: var(--green-700);
}
/* ### CARD ### */

body {
  background-color: var(--cream);
}

main {
  padding: 3rem 2rem;
}

.card {
  --spacer: 1em;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
}

.card picture {
  margin-bottom: 1em;
}

.card-btn img {
  width: 16px;
  height: 16px;
}

.card-main {
  --spacer: 1em;
  padding: 1.5em;
}

.price-container p {
  margin-top: 0.8em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.4em;
}

.card-btn {
  display: flex;
  gap: 0.6em;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 7px;
  padding: 0.85em 0;
}

/* ### MEDIA QUERIES ### */

@media (min-width: 45.313em) {
  main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row {
    display: flex;
  }

  .card {
    width: 42em;
    flex-shrink: 0;
  }

  .card > * {
    width: 50%;
  }

  .card-main {
    justify-content: space-between;
    /* --spacer: 1.8em; */
    padding: 2em;
  }

  .card picture {
    margin: 0;
  }
}
