/* ### CSS VARIABLES ### */

:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  --ff-montserrat: "Montserrat", sans-serif;
  --ff-fraunces: "Fraunces", serif;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

/* ### UTILITIES ### */

.column {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

/* ### TYPOGRAPHY ### */

body {
  font-family: var(--ff-montserrat);
  font-weight: 500;
  font-size: 0.9rem;
}

.card {
  color: var(--grey);
}

h1 {
  color: var(--black);
  line-height: 1.2em;
}

h1,
.current-price {
  font-family: var(--ff-fraunces);
  font-weight: 700;
  font-size: 1.9rem;
}

.card-subtitle {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 0.8rem;
}

.card-paragraph {
  line-height: 1.5rem;
}

.current-price {
  color: var(--green-500);
}

.card-subtitle,
.old-price {
  font-weight: 700;
}

.card-btn {
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 700;
  background-color: var(--green-500);
  cursor: pointer;
}

.card-btn:hover {
  background-color: var(--green-700);
}
/* ### CARD ### */

body {
  background-color: var(--cream);
  padding: 3rem 2rem;
}

.card {
  --spacer: 1em;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
}

.card-main {
  --spacer: 1em;
  padding: 1.5em;
}

.price-container p {
  margin-top: 0.8em;
  display: flex;
  align-items: center;
  gap: 1.6em;
}

.card-btn {
  display: flex;
  gap: 0.6em;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 7px;
  padding: 1em 0;
}

.card-btn img {
  width: 16px;
  height: 16px;
}
