/* ### CSS VARIABLES ### */

:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  --ff-montserrat: "Montserrat", sans-serif;
  --ff-fraunces: "Fraunces", serif;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

/* TYPOGRAPHY */

body {
  font-family: var(--ff-montserrat);
  font-weight: 500;
  font-size: 0.9rem;
}

.card {
  color: var(--grey);
}

h1 {
  color: var(--black);
  font-size: 2.5rem;
}

h1,
.current-price {
  font-family: var(--ff-fraunces);
  font-weight: 700;
  font-size: 2.5rem;
}

.card-subtitle {
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-size: 1rem;
}

.current-price {
  color: var(--green-500);
}

.card-subtitle,
.old-price {
  font-weight: 700;
}

.card-btn {
  color: var(--white);
  font-weight: 700;
  background-color: var(--green-500);
  cursor: pointer;
}

.card-btn:hover {
  background-color: var(--green-700);
}
